<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="lookingFor" class="content myFrag p-2 mx-3 my-4">
    <p>
        <span class="material-symbols-outlined myIcon">check_circle</span>
        <span th:text="#{lookingFor.title}" class="is-size-5"></span>
    </p>

    <!-- What are you looking for in a company ? -->
    <ul>
        <li th:text="#{lookingFor.reason.one}"></li>
        <li th:text="#{lookingFor.reason.two}"></li>
        <li th:text="#{lookingFor.reason.three}"></li>
    </ul>

</div>
</html>