@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.myFrag {
    border: 1px solid black;
    border-radius: 0.50rem;
}

.high {
    font-weight: bold;
}

.imgResp {
    max-width: 100%;
    height: auto;
}

.imgResp:hover {
    transform: scale(4);
    border: solid 1px black;
}

.myIcon {
    vertical-align: text-bottom;
}